bgflow/
bgmol/
data/all_data*
data/dw4*
data/get_data.txt
BoltzNCE/AImplicitUnconstrained/
BoltzNCE/AImplicitUnconstrained.tgz
BoltzNCE/slurm-*
BoltzNCE/wandb/
BoltzNCE/saved_models/*
BoltzNCE/submit_train.sh
configs/*