bgflow/
bgmol/
data/all_data*
data/dw4*
data/get_data.txt
BoltzNCE/AImplicitUnconstrained/
BoltzNCE/AImplicitUnconstrained.tgz
BoltzNCE/slurm-*
BoltzNCE/wandb/
BoltzNCE/generated/
BoltzNCE/saved_models/*
BoltzNCE/notebooks/plot_ramachandrans.ipynb
apex/
configs/*
data/2AA-1-huge/
data/2AA-1-large/
data/AD2/
BoltzNCE/notebooks/MD_ramachandran.pdf
BoltzNCE/notebooks/MD_ramachandran.png
BoltzNCE/notebooks/boltznce_ramachandran_fes.pdf
generated/
*.npy
*.npz


## DO NOT REMOVE PLZ
*.pyc
wandb/
data/*
BoltzNCE/dataset/
